body, html {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parallax1 {
  background-image: url("/pictures/parallax1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.parallax2{
background-image: url("/pictures/parallax2.jpg");
height: fit-content;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
color:whitesmoke;

}
.containerContact{
  background-image: url("/pictures/parallax3.jpg");
  height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:whitesmoke;
  position: relative;
  height:fit-content;
  text-align: center;
  }
.containerAbout{
  position: relative;
  height:fit-content;

}
.textAbout{
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.containerPortfolio{
  position: relative;
  height:fit-content;
  text-align: center;  
}
.imageAppContainerTitle{
  text-align: center;
}
.imageAppContainer{
  display: flex;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-column-gap: 5px
} 
.imageApp { 
  display: block;
  grid-area: auto;
  height: 350px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: auto;
 }
 .imageAppText { 
  display: block;
  grid-area: auto;
  height: 400px;
  align-self: center;
  margin-top: auto;
  width: auto;
 }
 .imageMerchantSimContainerTitle{
  text-align: center;
}
.imageMerchantSimContainer{
  display: flex;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-column-gap: 5px
} 
 .imageMerchantSim { 
  display: flex;
  grid-area: auto;
  height: 350px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 70%;
 }
 .imageMerchantSimText { 
  display: block;
  grid-area: auto;
  height: 400px;
  align-self: center;
  margin-top: auto;
  width: auto;
 }
 .imageTestTitle{
  text-align: center;
}
.imageTestContainer{
  display: flex;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-column-gap: 5px
} 
 .imageMPortfolioTest { 
  display: flex;
  grid-area: auto;
  height: 350px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 70%;
 }
 .imagePortfolioTestText { 
  display: block;
  grid-area: auto;
  height: 400px;
  align-self: center;
  margin-top: auto;
  width: auto;
 }
.nameInput{
 width: 50%;
 margin-left: 25%;
 margin-right: 25%;
}
.mailInput{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
 }
 .messageInput{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: fit-content;
  min-height: 150px;
 }

body {

  background: #ccc;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;


}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;

}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  width: 100;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



@media screen and (min-width: 1000px) {
  .nav li {
    width: 200px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    
  }
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 1000px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }


  @media only screen and (max-device-width: 1366px) {
    .parallax  {
      background-attachment: scroll;
    }
  }
 
    .imageAppContainer{
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5px

  } 
  .imageAppContainerTitle{
    text-align: center;
  }

  .imageApp { 
    display: flex;
    grid-area: auto;
    height: 350px;
    align-self: left;
    margin-left: 35%;
    width: auto;
  }

  .imageAppText { 
    display: flex;
    grid-area: auto;
    height: 400px;
    align-self: right;
    margin-left: 25%;
    margin-right: 25%;
    width: 40%;
   }
    
   .imageMerchantSimContainer{
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5px

  }
   .imageAppContainerTitle{
    text-align: center;
  }

  .imageMerchantSim { 
    display: flex;
    grid-area: auto;
    height: 350px;
    align-self: left;
    margin-left: 25%;
    width: 70%;
  }

  .imageMerchantSimText { 
    display: flex;
    grid-area: auto;
    height: 400px;
    align-self: right;
    margin-right: 25%;
    margin-left: 25%;
    width: 40%;
   }
   .imageTestContainer{
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 5px

  }
   .imageTestTitle{
    text-align: center;
  }

  .imagePortfolioTest { 
    display: flex;
    grid-area: auto;
    height: 350px;
    align-self: left;
    margin-left: 25%;
    width: 70%;
  }

  .imagePortfolioTestText { 
    display: flex;
    grid-area: auto;
    height: 400px;
    align-self: right;
    margin-right: 25%;
    margin-left: 25%;
    width: 40%;
   }

  }
